<!doctype html>
<html>
  <head>
    <style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: rgb(52, 187, 187);
        color: blanchedalmond;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
    <footer>
        <p>Page created by Uyen Nguyen.<br>
        <a href="mailto:uyennguy@usc.edu">uyennguy@usc.edu</a>
        <a href="https://www.linkedin.com/in/uyen-nguyen-3907521b8/">LinkedIn</a>
        </p>
    </footer>
  </body>
</html>